version: '3.8'

networks:
  traefik-net:
    external: true

services:
  frontend:
    build: .                   # путь к папке с React-приложением
    container_name: password_manager_front
    restart: always
    expose:
      - "3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`passwordmanager.thebull.ru`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"          # обязательно, но без certresolver
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
